@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Babylonica&family=DM+Serif+Text:ital@0;1&family=Danfo&family=Great+Vibes&family=Italianno&family=Jacquard+12&family=Jersey+10&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Lobster&family=Micro+5&family=Oswald:wght@200..700&family=Pacifico&family=Permanent+Marker&family=Playball&family=Playwrite+MX+Guides&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rowdies:wght@300;400;700&family=Shadows+Into+Light&family=Tiny5&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: poppins,sans-serif;
}
.main-container{
    /* margin: 2%; */
    padding: 25px;
    overflow: hidden;
    overflow-y: hidden;
    background: linear-gradient(to bottom, rgb(201, 201, 255), rgb(255, 159, 159));
}
.head11{
    text-align: center;
    font-size: 1.35rem;
    color: #453b3b;
}
.head-result{
    margin-top: 11px;
}
.optional{
    color: rgb(13, 0, 255);
}
.input-element{
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    flex-direction: column;
    padding-top: 21px;
    padding-bottom: 2%;
    /* background-color: rgb(2, 104, 193); */
    border-radius: 25px;
    /* position: relative;
    height: 80px; */
    margin-top: 11px;
}
.input-element label{
    font-size: 1.5rem;
}
.input-element input{
    /* width: 100%; */
    border-radius: 3px;
    /* border: 1;
    height: 40px; */
    padding-bottom: 5px;
    font-size: 1.3rem;
    /* position: absolute;
    top: 30%;
    left: 12.5%;
    border: none;
    outline-style: none; */
}

input{
    display: flex;
    align-items: center;
    /* border: none; */
    /* border: 1px solid rgb(0, 0, 0);
    outline: 1px solid rgb(0, 0, 0); */
}
.list-items{
    margin: 11px 50px;
}
.list-item{
    margin-top: 3%;
    max-width: 365px;
    margin-left: auto;
    margin-right: auto;
    list-style: disc;
}
.list-items>li{
    margin-bottom: 15px;
}
.list-items-1{
    margin-bottom: 15px;
    font-size: 1.15rem;
    color: #372828;
}
#gym{
    color: red;
}
#gymGreen{
    color: rgb(22, 85, 21);
}
.button-element{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-2{
    margin-top: 25px;
    width: 125px;
    height: 4vh;
    border-radius: 3px;
    border: none;
    transition: 0.75s;
}
.button-2:hover{
    background-color: antiquewhite;
    color: rgb(0, 0, 0);
    font-weight: 550;
}
.button-1{
    width: 150px;
    height: 5vh;
    border-radius: 3px;
    margin: 25px 10px;
    border: none;
    transition: 0.75s;
}
.button-1:hover{
    background-color: antiquewhite;
    color: rgb(0, 0, 0);
    font-weight: 550;
}
.button-00{
    width: 150px;
    height: 5vh;
    border-radius: 3px;
    margin: 25px 10px;
    border: none;
    transition: 0.75s;
}
.button-00:hover{
    background-color: rgb(60, 1, 255);
    color: #fff;
    font-weight: 550;
}
#result{
    font-size: 1.3rem;
    text-align: center;
    color: black;
    font-weight: 550;
    padding: 21px;
    background: linear-gradient(to left, rgb(210, 210, 210), rgb(255, 240, 240));
}
.head-00{
    font-size: 1.5rem;
    font-weight: 475;
    color: blue;
}
@media (max-width:625px) {
    .input-element label{
        font-size: 1rem;
    }
    .input-element {
        display: flex;
        justify-content: center;
        gap: 15px;
        align-items: center;
        flex-direction: column;
        padding-top: 21px;
        padding-bottom: 2%;
        /* background-color: rgb(150, 177, 215); */
        mix-blend-mode: transparent;
        border-radius: 25px;
        position: relative;
        height: 80px;
        margin-top: 11px;
    }
    .input-element label{
        font-size: 1.5rem;
    }
    .input-element input{
        /* width: 100%; */
        border-radius: 3px;
        border: 1;
        height: 40px;
        padding-bottom: 5px;
        font-size: 1.3rem;
        position: absolute;
        top: 30%;
        left: 12.5%;
        border-end-end-radius: 20px;
        border-start-end-radius: 0;
        border-end-start-radius: 0;
        border-start-start-radius: 20px;
        border: none;
        outline-style: none;
    }
    
    input:hover{
        display: flex;
        align-items: center;
        /* border: none; */
        border: 1px solid rgb(0, 0, 0);
        outline: 1px solid rgb(0, 0, 0);
    }
    #num{
        text-indent: 11px;
    }
    .input-element input::placeholder{
        font-size: 13px;
        font-weight: 475;
        color: rgb(167, 161, 161);
    }
    input{
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
    }

}